
.header-wrapper {
    background-color:transparent;
}
    
.basket {
    background-color: #fff;
    padding: 16px;
       border-radius: 4px;
        border: 1px solid #F5F0EB;
    height: auto;
    clear: both;
    position: relative;
    padding-bottom: 64px
}
h2,h1,h3,h4,h5{
    
font-weight: 800;
}

.basket-buttons {
    position: relative
        float:right;
    padding-right: 16px;
    padding-bottom:3px; 
    clear: both;
}
.basket-totals{
    padding-left: 16px;
    padding-right: 16px;
    
}
.prodlist-row {
    margin-bottom: 8px;
       border-radius: 4px;
        border: 1px solid #F5F0EB;
}
.promoted-products__item-label {
    height: auto!important;
}
.product-search-input-container{
    border-radius: 4px;
        border: 1px solid #F5F0EB;

    
}

.es-filters-wrapper {
    box-shadow: none;
    border: 1px solid #F5F0EB;
    border-radius: 4px;
    
}
.product-card-image img {
    border-radius: 4px;
    overflow: none;
      border: 1px solid #F5F0EB;
    width: 100%
    
}
.product-card .row {
    padding-left: 16px;
}
.product-card-tabs .accordion-title {
   background-color: #F5F0EB; 
}

.small-product-list-label {
    font-weight: 600;
    font-size: 1rem
}
.small-product-list-prices {
  padding-top: 0px;
}
table tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #FCF9F6;
}
.price-text {
font-weight: 800;
    font-size: 1rem;
    
    color:#1F4B81;
}
body{
    background-color: #FCF9F6!important;
    font-weight: 500
    
}
.prodlist-row.large-grid.grid-layout-cols-3 {
        width: 30%;
        margin-right: 1%;
    margin-bottom: 1%;
        border: 1px solid #F5F0EB;
        border-radius:4px;
 
    
}
.ccs-ds-cloud-thumbs{
    
  margin-top:16px;
}
.product-card-image{        
    border-radius:8px;
    overflow: hidden;
    

}
.promoted-products__item{
    min-width: 24%;
    margin: 0.5%;
    border-radius: 8px;
    border: 1px solid #F5F0EB;
    overflow: hidden;
 
    
}

.prodlist__label{
    font-size: 1rem;
    font-weight:600;
    
}
.bx-wrapper{
    
        border: none!important;
      border-radius: 4px;
        -webkit-box-shadow:none!important;
    box-shadow: none!important;
    
    background: none!important;
}
.prodlist__manufacturer {
    color:#1F4B81;
}
.prodlist-row__price .price-text {
    font-weight: 800;
}

.menu-bar{
    background-color: #FCF9F6!important;
    margin-top: 8px
}
.menu-bar-items{
    background-color:#1F4B81;
    border-radius: 4px;
}
.promoted-products__item-container{
    padding: 16px;
    background-color:none!important;
    border-right: 0px;
}
.menu-bar-desktop-products {
    background-color: #FCF9F6
    display: flex
;
    margin: 0 auto;
    position: relative;
    z-index: 1999;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), 2px 2px 24px rgba(0, 0, 0, 0.1);
}
.menu-bar-desktop-categories-menu {
    background-color:#FCF9F6;
    flex: 0 0 20%;
}
.menu-bar-desktop-categories-menu-item {
    border-bottom: 1px solid #e5e0db;
    cursor: pointer;
    line-height: 42px;
    padding-left: 15px;
    position: relative;
}
.menu-bar-desktop-categories-menu-item:hover, .menu-bar-desktop-categories-menu-item.active {
    background-color: #F5F0EB;
    
}
.menu-bar-desktop-categories-menu-item:hover>a, .menu-bar-desktop-categories-menu-item.active>a {
    color: #1F4B81;
    font-weight: bold;
}
@media (min-width: 640px) {
    .header-wrapper.fixed {
        position: fixed;
        z-index: 999;
        background-color: #fff;
        max-width: 100%;
        width: 100%;
        height: 75px;
        top: 0;
        -webkit-box-shadow: 1px 0 12px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 0 12px 0 rgba(0,0,0,0.2);
        box-shadow: 1px 0 12px 0 rgba(0, 0, 0, 0.2);
    }
}
